[program:chain-space-horizon]
command={{php_bin}} {{app_root}}/artisan horizon
directory={{app_root}}
process_name=%(program_name)s
numprocs=1
autostart=true
autorestart=true
startsecs=5
startretries=3
stopwaitsecs=180
stopsignal=QUIT
stopasgroup=true
killasgroup=true
user={{app_user}}
redirect_stderr=true
stdout_logfile={{stdout_logfile}}
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=5
environment=APP_ENV="{{app_env}}",QUEUE_CONNECTION="redis"
